@charset "UTF-8";

/*
# common.css - mingit55(2020-09-25)

대부분의 HTML 파일에 포함되는 광범위 선택자 또는
재사용 가능한 클래스가 포함된다.

*/


/* 레이아웃 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
ul, li { list-style: none; }
a, a:hover { text-decoration: none; }
button, label, a { cursor: pointer; user-select: none; cursor: pointer; }
button { background-color: transparent; border: none; }
body { background-color: #f7f7f7; color: #333333; }

.title {
    font-size: 1.2em;
    font-weight: 600;
    color: #333333;
}

.text-muted { color: #555; }

/* /레이아웃 */


/* 모달 */

.modal {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1050;
    overflow: hidden;
    pointer-events: none;
    transition: background-color 0.4s ease;
}
.modal.show { 
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal__content {
    position: absolute;
    left: 50%; top: 30%;
    transform: translate(-50%, -300%);
    transition: transform 0.6s ease;
    max-width: 568px;
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 0 1em;
}

.modal.show .modal__content {
    transform: translate(-50%, -50%);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2em;
}

.modal-header .title { font-size: 1.5em; }

.modal-footer {
    margin-top: 2em;
    border-top: 1px solid #ddd;
    height: 60px;
    display: flex;
    justify-content: flex-end;    
    align-items: center;
}

.modal-group {
    display: flex;
    margin-bottom: 1em;
}

.modal-label {
    max-width: 120px;
    width: 100%;
    display: block;
    font-size: 1.1em;
    margin-right: 1em;
}

.modal-input {
    max-width: calc(100% - 120px);
    width: 100%;
    border: 1px solid #ddd;
    padding: 0.25em 0.8em;
    background-color: transparent;
    font-size: 0.9em;
    color: #555;
    display: block;
}

/* /모달 */


/* 글꼴 크기 :: fs (font-size) */

.fs-n3 { font-size: 0.85em; }
.fs-n2 { font-size: 0.9em; }
.fs-n1 { font-size: 0.95em; }

.fs-1 { font-size: 1em; }
.fs-2 { font-size: 1.1em; }
.fs-3 { font-size: 1.2em; }
.fs-4 { font-size: 1.4em; }
.fs-5 { font-size: 1.6em; }
.fs-6 { font-size: 1.8em; }
.fs-7 { font-size: 2em; }
.fs-8 { font-size: 2.3em; }

/* /글꼴 크기 :: fs (font-size) */

/* 버튼 :: btn (button) */

[class*="btn"] {
    display: inline-block;
    font-size: 0.9em; 
    padding: 0.5em 1em;
}

.btn-underline {
    color: #333;
    border-bottom: 2px solid #333;
}

.btn-bordered {
    position: relative;
    border: 1px solid #e67e38;
    color: #e67e38;
    transition: 0.35s;
}
.btn-bordered::before,
.btn-bordered::after {
    content: '';
    position: absolute;
    height: 5px; width: 0;
    transition: 0.35s;
    background-color: #e67e38;
}
.btn-bordered::before { left: 0; top: 0; }
.btn-bordered::after { right: 0; bottom: 0; }
.btn-bordered:hover { color: #fff; background-color: #e67e38; }
.btn-bordered:hover::before,
.btn-bordered:hover::after { width: 100%; }


/* /버튼 :: btn (button) */


/* 바깥 여백 :: m (margin) */

.m-1  { margin: 0.25em; }
.m-2  { margin: 0.5em; }
.m-3  { margin: 1em; }
.m-4  { margin: 2em; }
.m-5  { margin: 4em; }

.my-1  { margin-top: 0.25em; margin-bottom: 0.25em;  }
.my-2  { margin-top: 0.5em; margin-bottom: 0.5em;  }
.my-3  { margin-top: 1em; margin-bottom: 1em;  }
.my-4  { margin-top: 2em; margin-bottom: 2em;  }
.my-5  { margin-top: 4em; margin-bottom: 4em;  }

.mx-1  { margin-left: 0.25em; margin-right: 0.25em;  }
.mx-2  { margin-left: 0.5em; margin-right: 0.5em;  }
.mx-3  { margin-left: 1em; margin-right: 1em;  }
.mx-4  { margin-left: 2em; margin-right: 2em;  }
.mx-5  { margin-left: 4em; margin-right: 4em;  }

.mt-1  { margin-top: 0.25em; }
.mt-2  { margin-top: 0.5em; }
.mt-3  { margin-top: 1em; }
.mt-4  { margin-top: 2em; }
.mt-5  { margin-top: 4em; }

.ml-1  { margin-left: 0.25em; }
.ml-2  { margin-left: 0.5em; }
.ml-3  { margin-left: 1em; }
.ml-4  { margin-left: 2em; }
.ml-5  { margin-left: 4em; }

.mb-1  { margin-bottom: 0.25em; }
.mb-2  { margin-bottom: 0.5em; }
.mb-3  { margin-bottom: 1em; }
.mb-4  { margin-bottom: 2em; }
.mb-5  { margin-bottom: 4em; }

.mr-1  { margin-right: 0.25em; }
.mr-2  { margin-right: 0.5em; }
.mr-3  { margin-right: 1em; }
.mr-4  { margin-right: 2em; }
.mr-5  { margin-right: 4em; }

/* /바깥 여백 :: m (margin) */

/* 안쪽 여백 :: p (padding) */

.p-1  { padding: 0.25em; }
.p-2  { padding: 0.5em; }
.p-3  { padding: 1em; }
.p-4  { padding: 2em; }
.p-5  { padding: 4em; }

.py-1  { padding-top: 0.25em; padding-bottom: 0.25em;  }
.py-2  { padding-top: 0.5em; padding-bottom: 0.5em;  }
.py-3  { padding-top: 1em; padding-bottom: 1em;  }
.py-4  { padding-top: 2em; padding-bottom: 2em;  }
.py-5  { padding-top: 4em; padding-bottom: 4em;  }

.px-1  { padding-left: 0.25em; padding-right: 0.25em;  }
.px-2  { padding-left: 0.5em; padding-right: 0.5em;  }
.px-3  { padding-left: 1em; padding-right: 1em;  }
.px-4  { padding-left: 2em; padding-right: 2em;  }
.px-5  { padding-left: 4em; padding-right: 4em;  }

.pt-1  { padding-top: 0.25em; }
.pt-2  { padding-top: 0.5em; }
.pt-3  { padding-top: 1em; }
.pt-4  { padding-top: 2em; }
.pt-5  { padding-top: 4em; }

.pl-1  { padding-left: 0.25em; }
.pl-2  { padding-left: 0.5em; }
.pl-3  { padding-left: 1em; }
.pl-4  { padding-left: 2em; }
.pl-5  { padding-left: 4em; }

.pb-1  { padding-bottom: 0.25em; }
.pb-2  { padding-bottom: 0.5em; }
.pb-3  { padding-bottom: 1em; }
.pb-4  { padding-bottom: 2em; }
.pb-5  { padding-bottom: 4em; }

.pr-1  { padding-right: 0.25em; }
.pr-2  { padding-right: 0.5em; }
.pr-3  { padding-right: 1em; }
.pr-4  { padding-right: 2em; }
.pr-5  { padding-right: 4em; }

/* /안쪽 여백 :: p (padding) */